<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IInfoManageService" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="SecureHttp" messageEncoding="Mtom">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44314/Services/InfoService.svc"
                binding="wsHttpBinding" bindingConfiguration="SecureHttp"
                contract="InfoService.IInfoService" name="SecureHttp" />
            <endpoint address="http://localhost:54218/Services/InfoManageService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInfoManageService"
                contract="InfoManageService.IInfoManageService" name="BasicHttpBinding_IInfoManageService" />
        </client>
    </system.serviceModel>
</configuration>