<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="InfoServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="InfoServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44314/Services/InfoService.asmx"
                binding="basicHttpBinding" bindingConfiguration="InfoServiceSoap"
                contract="InfoService.InfoServiceSoap" name="InfoServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>